
# Mainsail/Fluidd will leave a few lines at the top of your printer.cfg
# file, PLEASE ADJUST

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# FAN PINS ARE SWAPPED!!!!!! PLEASE KEEP IN MIND
# PLEASE ALSO TEST Z-OFFSET in BL-TOUCH section to ensure bed adhesion

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 248.5
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 231
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8

# https://www.klipper3d.org/BLTouch.html#connecting-bl-touch
endstop_pin: probe:z_virtual_endstop
# endstop_pin: ^PC2                     # I left physical endstop still installed in case of BL-Touch failure
# position_endstop: 0.0
position_max: 250
position_min: -4

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
# from btt pid_Kp: 21.527
pid_Kp: 24.715
# from btt pid_Ki: 1.063
pid_Ki: 1.408
# from btt pid_Kd: 108.982
pid_Kd: 108.35
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#   Nozzle heatsink cooling fan (I PHYSICALLY SWAPPED ON BOARD for PC6 [mistake when wiring])
[heater_fan nozzle_fan]
pin: PB15

#   Motherboard controller fan
[controller_fan motherboard_fan]
pin: PC7

#   Part cooling fan (I PHYSICALLY SWAPPED ON BOARD for PB15 [mistake when wiring])
[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_090025000350415339373620-if00

# [mcu x-gyro]
# serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0



# https://www.klipper3d.org/BLTouch.html#connecting-bl-touch

[bltouch]
#stow_on_each_sample: False
probe_with_touch_mode: True
sensor_pin: ^PC14
control_pin: PA1
# adjusts for nozzle
x_offset: -45.5
y_offset: -4
#z_offset: 3.4985
z_offset: 3.596
samples: 31

[screws_tilt_adjust]
screw1: 73, 31
screw1_name: front left screw |_
screw2: 243, 31
screw2_name: front right screw _|
screw3: 243, 200
screw3_name: rear right screw ￣|
screw4: 73, 200
screw4_name: rear left screw |￣
horizontal_move_z: 10
speed: 75
screw_thread: CW-M4

[safe_z_home]
home_xy_position: 110, 110 # Change coordinates to the center of your print bed
speed: 75
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_screws]
screw1: 73, 31
screw2: 243, 31
screw3: 243, 200
screw4: 73, 200

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 22.5, 21
mesh_max: 203, 201
probe_count: 5, 5
mesh_pps: 2,2
fade_start: 10
fade_end: 0
fade_target: 1

#  https://www.youtube.com/watch?v=30iAJ8jVFi0
[filament_switch_sensor runout]
pause_on_runout: True
# runout_gcode:
#   G91
#   G1 Z20 F9000         # raise z away from print
#   G90
#   G1 X125 Y10 F5000    # move toolhead to purge area 
#   G91
#   G1 E-100 F600        # retract 100 mm of filament  (max extrude cap)
#   G90
# insert_gcode:
#   G4 P30000            # pause 30 sec
#   G1 E100 F400         # prime nozzle  (max extrude cap)
event_delay: 3.0       # https://youtu.be/gdVCC_2lnaY?si=ZKDdUQZs0W2wS_9S&t=369
pause_delay: 0.5
switch_pin: PC15       # E0-STOP

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.




#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.155968, 0.009839, 0.018306, 0.054435, 0.149194
#*# 	  0.088548, 0.023790, 0.027097, 0.069113, 0.225000
#*# 	  0.063548, 0.000403, 0.006855, 0.045726, 0.165726
#*# 	  0.044839, -0.045403, -0.043387, -0.020323, 0.053306
#*# 	  0.210726, -0.106532, -0.107823, -0.095242, 0.150887
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 22.5
#*# max_x = 202.98
#*# min_y = 21.0
#*# max_y = 201.0
